@import "~bootstrap/less/bootstrap";

.RouteHandler {
  padding: 10px;
  padding-top: 60px;
}

.login-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.login {
  order: 1;
  background-color: #6e7876;
  border-radius: 5px
}

.testcase {
  margin-left: 20px;
}

.assertion {
  margin-left: 35px;
}

.stacktrace {
  margin-left: 50px;
}

.module-list-item {
  margin-top: 10px;
}

.assertion-stat {
  margin-top: 10px;
}

.list-group-item-heading {
  padding-top: 10px;
}

.panel-body {
  padding-bottom: 5px;
}

.current-build-text {
  padding-bottom: 10px;
}
